USE [EkbPlaces]
GO
/****** Object:  Table [dbo].[Place]    Script Date: 16.03.2023 8:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Site] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Place] ON 

SET IDENTITY_INSERT [dbo].[Place] OFF
GO
